/* .wrapper {
	border: 1px solid black;
	height: 100vh;
	display: flex;
	align-items: start;
	justify-content: center;
}

.content {
	display: flex;
	justify-content: center;
	width: 80vw;
	border: 1px solid blue;
}

.upper {
	display: flex;
	justify-content: center;
	align-content: start;
	border: 1px solid green;
	width: 80%;
	padding: 5px;
}

.btn-prev {
	display: flex;
	border: 1px solid blueviolet;
	align-self: flex-end;
	margin-right: 25%;
}

.searchBox {
	display: flex;
	align-self: center;
}

.btn-next {
	display: flex;
	border: 1px solid blueviolet;
	align-self: flex-end;
	margin-left: 25%;
} */
