.wrapper {
	height: 100vh;
	display: flex;
	align-items: start;
	justify-content: center;
	width: 100%;
}

.content{
	width: 90%;
}

.upper{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 5% 2%;
}

.upper button{
	width: 60px;
	padding: 5px;
	font-size: 12.5px;
}

.upper input{
	padding: 6px;
}

.main{
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 0 0 10px ;
}

.intro{
	background-color: #d8fef7;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0 15px; 
}

.intro div:first-child{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#candidateName{
	font-weight: 900;
	font-size: 26px;
	margin-bottom: 20px;
}

.positionAppFor{
	font-weight: 600;
	font-size: 15px;
}

.profile-picture{
	position: absolute;
	right: 100px;
	top: 10px;
}

.about{
	padding: 20px;
	display: grid;
	grid-template-columns: 17.5% 2.5% 80%;
}

.aboutSide{
	height: max-content;
	background-color: #ffecec;
	margin-top: 23px;
	padding: 10px;
}

.aboutSideInfo h3{
	background-color: #adadad;
	padding: 4px;
}

.aboutSideInfo {
	text-align: right;
}

.info{
	margin-left: 30px;
}

.info label{
	font-weight: 600;
}

#projectLabel{
	font-weight: 600;
}